.contactBlock {
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    background-color: #f18e81;
}

.contactContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly ;


}

.title {
    background-color: white;
    margin-bottom: 25px;
}

.form {
    border: 1px solid;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;

}


.btnCollab {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btnCollab:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
